
body{
    background-color:#28d;
}
p,h1{
color:#fff;
}
.right{
    border:solid 3px white;
    width: 30%;
float: left;
}
.left{
width:40%;
    border:solid 2px white;
}
.login{
    margin: auto;
    width: 15%;
}