// body{
//     margin: 0;
//     top:0;
//     background-color: #28d;
//     text-decoration: none;
// }

.login{
    margin: auto;
    width: 15%;
}
.cms{
    display: flex;
    justify-content: center;
    width: 100%;  
}

