body {
    background:rgba(19,25,31,1);
  }
  .material-form1 {
    margin-top:20px; 
  } 
  .material-form2 {
    margin-top:20px;
    display: none;   
  } 
  .well {
    flex-grow: 1;
    max-width: 350px;
    margin: 0 auto;
    box-shadow: none;
    background: #fff;
    box-shadow: 0px 6px 60px 0px rgba(38, 51, 64, 0.08);
    border: none;
    border-radius: 6px;
    padding: 50px ; 
    h2 {
      font-size: 24px;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 40px;
      color: #263340;
    }
  }

  .form-group {
    position: relative;
    margin-top: 25px;
    margin-bottom: 20px;
    label {
      font-weight: 300;
      color: lighten(#717e88, 30%);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      transition: all .2s ease-in-out;
    }
    input[type="text"].form-control,
    input[type="password"].form-control{
      height: 48px;
      background: none;
      border-radius: 0;
      box-shadow: none;
      font-weight: 300;
      color: #263340;
      padding-left: 0;
      padding-right: 0;
      border: none;
      border-bottom: 1px solid #ddd;
      transition: all .1s ease-in-out;
      position: relative;
      z-index: 2;
      &:focus,
      &:active {
        outline: none;
        box-shadow: none;
        border: none;
      }
      &:active + label,
      &:focus + label,
      &.active + label {
        color: darken(#717e88, 0%);
        font-size: 11px;
        top: -10px;
        transform: none;
      }
      &:active ~ .input-border,
      &:focus ~ .input-border,
      &.active ~ .input-border {
        width: 100%;
      }
    }
    .input-border {
      display: block;
      width: 0%;
      height: 1px;
      background: #a67a2e;
      transition: all .2s ease-in-out;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      margin: 0 auto;
    }
  }
  
  .btn {
    color:white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 14px 40px;
    min-width: 170px;
    border: none;
    border-radius: 30px;
    background:#454661;
    transition: all .2s ease-in-out;
    margin-top: 30px;
    &:hover,
    &:focus,
    &:active {
      background: darken(#af672e, 10%);
      border: none;
      outline: none;
    } 
  }
.group-menu-login{
      text-align: center;
      margin-top:30px;
    }
.menu-login {
    color:white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 14px 40px;
    min-width: 200px;
    border: none;
    border-radius: 10px;
    background:#454661;
    transition: all .2s ease-in-out;
    margin-top: 30px;
    margin:auto;
    &:hover,
    &:focus,
    &:active {
      background: darken(#af672e, 10%);
      border: none;
      outline: none;
    } 
  }